@model TransacaoModel

@{
    var vId = 0;
    var vData = "";
    var vDescricao = "";
    var vTipo = "";
    var vValor = "";
    var vContaId = 0;
    var vPlanoConta = 0;
    try
    {
        vId = int.Parse(ViewBag.Registro.Id.ToString());
        vValor = ViewBag.Registro.Valor.ToString();
        vData = DateTime.Parse(ViewBag.Registro.DataTransacao.ToString()).ToString("yyyy-MM-dd");
        vDescricao = ViewBag.Registro.Descricao.ToString();
        vTipo = ViewBag.Registro.Tipo.ToString();
        vContaId = int.Parse(ViewBag.Registro.Conta_id.ToString());
        vPlanoConta = int.Parse(ViewBag.Registro.PlanoConta_id.ToString());
    }
    catch { }
}

<head>
    <meta charset="utf-8">
</head>

<h3>Cadastrar Transação</h3>

<form asp-controller="Transacao" asp-action="CadastrarTransacao">
    <input type="hidden" asp-for="Id" value="@vId" />
    <div class="form-group">
        <label>Data:</label>
        <input type="date" class="form-control" asp-for="DataTransacao" value="@vData" />
        <span asp-validation-for="DataTransacao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tipo:</label>
        @{
            if (vTipo == "R")
            {
                <div class="radio">
                    <label><input type="radio" asp-for="Tipo" value="R" checked>Receita</label>
                </div>
                <div class="radio">
                    <label><input type="radio" asp-for="Tipo" value="D" unchecked>Despesa</label>
                </div>
            }
            else
            {
                <div class="radio">
                    <label><input type="radio" asp-for="Tipo" value="R" unchecked>Receita</label>
                </div>
                <div class="radio">
                    <label><input type="radio" asp-for="Tipo" value="D" checked>Despesa</label>
                </div>
            }
        }
    </div>
    <div class="form-group">
        <label>Valor:</label>
        <input type="number" class="form-control" asp-for="Valor" value="@vValor" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Histórico:</label>
        @Html.TextArea("Descricao", vDescricao, new { @class = "form-control" })
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Conta:</label>
        <select asp-for="Conta_id" class="form-control">
            @{
                foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
                {
                    if (item.Id.ToString() == vContaId.ToString())
                    {
                        <option selected value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                    else
                    {
                        <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Plano de Conta:</label>
        <select asp-for="PlanoConta_id" class="form-control">
            @{
                foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoConta)
                {
                    if (item.Id.ToString() == vPlanoConta.ToString())
                    {
                        <option selected value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                    }
                    else
                    {
                        <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                    }
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-block btn-success">Registrar Transação</button>
</form>